/*css reset code */

/****  文字大小初始化,使1em=10px *****/
body {
font-family: "Microsoft YaHei","SimHei",sans-serif;
font-size:62.5%;
} /* for IE/Win */
html>body {
font-size:10px;
} /* for everything else */

/*字体边框等初始化*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
 padding: 0;
 margin: 0;
 }
table {
 border-collapse: collapse;
 border-spacing: 0;
 }
fieldset,img {
 border: 0;
 }
 img {
 display:block;
 }
address,caption,cite,code,dfn,th,var {
 font-weight: normal;
 font-style: normal;
 }
ol,ul {
 list-style: none;
 }
caption,th {
 text-align: left;
 }
h1,h2,h3,h4,h5,h6 {
 font-weight: normal;
 font-size: 100%;
 }
q:before,q:after {
 content:'';
 }
abbr,acronym { border: 0;
 }

a {
	color: #343434;
text-decoration:none;
}
a:hover{
	color: #b60a0a
}

/*index*/

.banner-back{
	background: #40c381;
	width: 100%;
}
.banner-back>a:first-child{
	float: left;
	margin: 23px 0 0 23px;
}
.banner-back>a:nth-child(2){
	border:2px solid white;
	border-radius: 5px;
	display: block;	
	width: 180px;
	height: 36px;
	color: white;
	font-size: 18px;
	line-height: 36px;
	text-align: center;
	float: right;
	margin: 18px 33px 0 0;
}
.banner-back>a:nth-child(2):hover{
	color: #40c381;
	background: white;
}
.banner-back>a:nth-child(4){
	position: absolute;
	top: 40%;
	left: 3%;
	width: 33px;
	height: 61px;
	background: url(../images/arrl.png) no-repeat;
}
.banner-back>a:nth-child(4):hover{
	background: url(../images/arrl_hover.png) no-repeat;
}
.banner-container{
	width: 36%;
	margin: 0 auto;
	margin-top: 4em;
	text-align: center;
}
.banner-back>a:nth-child(6){
	position: absolute;
	top: 40%;
	right: 3%;
	width: 33px;
	height: 61px;
	background: url(../images/arrr.png) no-repeat;
}
.banner-back>a:nth-child(6):hover{
	background: url(../images/arrr_hover.png) no-repeat;
}
.banner-container h1{
	font-size: 60px;
	color: #fff;
	text-align: left;
	margin-left: 100px;
	float: left;
}
.banner-container h2{
	float: right;
	font: 36px "Impact";
	color: #fff;
	margin: 20px 130px 0 0;
}
.banner-container h3{
	clear: both;
	color: #fff;
	font-size: 30px;
}
.banner-container h3 span{
	font-size: 50px;
}
.banner-container h3 strong{
	font-size: 60px;
	padding-left: 20px;
}
.banner-container h3+a{
	display: block;
	width: 30px;
	height: 30px;
	margin: 0 auto;
	margin-top: 80px;
}

/*scroll-top*/
.scroll-top{
	display: block;
	width: 70px;
	height: 73px;
	position: fixed;
	bottom: 67px;
	right: 20px;
}

/*index-menu*/
.index-menu{
	width: 100%;
	height: 76px;
	background: #40c381;
	margin-top: 10px;
	position: fixed;
	top: -10px;
	z-index: 1000;
	/*overflow: hidden;*/

}
.index-menu>a:first-child{
	float: left;
	display: block;
	width: 185px;
	height: 38px;
	margin: 23px 50px 23px 23px;
}
.index-menu li{
	float: left;
	margin-right: 20px;
	/*overflow: hidden;*/
}
.index-menu li a{
	display: block;
	width: 100px;
	height: 76px;
	font: 16px/76px 'Microsoft Yahei' sans-serif;
	text-align: center;
	color: white;
}
.index-menu li a:hover{
	background:url(../images/index_hover.jpg);
}
.index-menu> li+a{
	border:2px solid white;
	border-radius: 5px;
	display: block;
	width: 180px;
	height: 36px;
	color: white;
	font-size: 18px;
	line-height: 36px;
	text-align: center;
	float: right;
	margin: 18px 33px 0 0;
}
.index-menu> li+a:hover{
	color: #40c381;
	background: white;
}

/*index-des*/
.index-des{
	background: #fff;
	width: 100%;
	padding-top: 40px;
}
.index-des-contain{
	width: 73%;
	margin: 0 auto;
}
.index-des-contain>img:first-child{
	margin: 0 auto;
	margin-top: 50px;
}
.index-des-contain>img+img{
	margin: 0 auto;
	margin-top: 20px;
}
.index-des-contain>img+p{
	clear: both;
	text-align: center;
	color: #f4bc39;
	font-size: 24px;
	padding: 20px 0;
}
.index-des-contain p+p{
	color: #484747;
	font-size: 18px;
	text-indent: 2em;
}
.index-des-contain>h2{
	color: #f4bc39;
	font-size: 30px;
	text-align: center;
	padding: 30px 0;
}
.index-des-contain ul{
	width: 61%;
	margin: 0 auto;
	margin-bottom: 60px;
}
.index-des-contain li{
	float: left;
	margin-right: 80px;
}
.index-des-contain ul li:nth-child(4){
	margin-right: 0;
}
.index-des-contain li a{
	display: block;
	width: 118px;
	height: 118px;
}
.index-des-contain ul li:first-child a{
	background: url(../images/circle1.png);
}
.index-des-contain ul li:first-child a:hover{
	background: url(../images/circle1_1.png);
}
.index-des-contain ul li:nth-child(2) a{
	background: url(../images/circle2.png);
}
.index-des-contain ul li:nth-child(2) a:hover{
	background: url(../images/circle2_1.png);
}
.index-des-contain ul li:nth-child(3) a{
	background: url(../images/circle3.png);
}
.index-des-contain ul li:nth-child(3) a:hover{
	background: url(../images/circle3_1.png);
}
.index-des-contain ul li:nth-child(4) a{
	background: url(../images/circle4.png);
}
.index-des-contain ul li:nth-child(4) a:hover{
	background: url(../images/circle4_1.png);
}

/*introduction*/
.intro-back{
	background: #f6f7f9;
	width: 100%;
	/*margin-top: 50px;*/
}
.intro-back li>div{
	width: 73%;
	margin: 0 auto;
}
.intro-back li>div img:first-child{
	float: left;
}
.intro-back li>div img+div{
	float: right;
	width: 37%;
	margin: 80px 0 0 94px;
	padding-right: 50px;
}
.line{
	width: 19px;
	height: 68px;
	background: #fdcb56;
	float: left;
	margin-top: 15px;
}
.intro-back li>div img+div a{
	float: left;
	font-size: 72px;
	color: #c4c1bd;
	font-weight: bold;
	padding-left: 30px;
}
.intro-back li>div img+div a:hover{
	color: #a39d96;
}
.intro-back li>div img+div p{
	clear: both;
	font-size: 18px;
	color: #938f89;
	padding-top: 20px;
	text-indent: 2em;
}
.intro-back li:nth-child(2){
	background: #efece7;
}
.intro-back li:nth-child(2)>div>div:first-child{
	float: left;
	width: 37%;
	margin-top: 80px;
}
.intro-back li:nth-child(2)> div div+img{
	float: right;
}
.intro-back li:nth-child(2)>div>div a{
	float: left;
	font-size: 72px;
	color: #c4c1bd;
	font-weight: bold;
	padding-left: 30px;
}
.intro-back li:nth-child(2)>div>div a:hover{
	color: #5eaa8c;
}
.intro-back li:nth-child(2)>div p{
	clear: both;
	font-size: 18px;
	color: #938f89;
	padding-top: 20px;
	text-indent: 2em;
}
.intro-back li:nth-child(2)>div>img+div{
	float: none;
	width: 0;
	margin: 0;
}
.intro-back li:last-child{
	background: #dadcdb;
}
.intro-back li:last-child>div>div a:hover{
	color: #f1f2f2;
}
.apart{
	width: 39.7%;
	margin: 0 auto;
	padding: 50px 0;
}
.apart div:first-child, .apart h4+div{
	width: 240px;
	height: 1px;
	background-color: #f4bc39;
	float: left;
	margin-top: 20px;
}
.apart h4{
	float: left;
	font: 16px "Microsoft YaHei",sans-serif;
	color:  #f4bc39;
	margin: 0 10px;
	font-size: 30px;
	font-weight: bold;
}

/*我要参加*/
.enroll-container {
	height: 523px;
	margin: 0 auto;
	width: 936px;
	clear: left;
	padding: 41px 0;
}
.enroll {
	margin: 0 auto;
	margin-bottom: 32px;
}
.enroll a{
	font-weight: bold;
	display: block;
  	width: 247px;
  	height: 68px;
  	font: 28px/62px 'Microsoft YaHei',sans-serif;
  	color: white;
  	background: url(../images/bottom.png) no-repeat;
 	margin: 0 auto;
 	text-align: center;
}
.enroll a:hover{
	background: url(../images/bottom_press.png);
}
.picture {
	float: left;
	margin-right: 88px;
}
.picture img {
	margin-bottom: 27px;
}
.picture p {
	font: 14px/24px "Microsoft YaHei",sans-serif;
	color: #434040;
}
.picture p span {
	display: block;
	padding-left: 41px;
}
.picture h1 {
	font-family: "Microsoft Yahei";
	float: left;
	color: #434040;
}
.form{
	float: left;
}
.form span{
	color: red;
}
.form p{
	font: 14px "Microsoft YaHei",sans-serif;
	color: #434040;
	margin-top: 40px;
}
.form p:last-child{
	margin-top: 26px;
}
.form input{
	/*margin-left: 30px;*/
	float: right;
	width: 354px;
	height: 30px;
	border-radius: 3px;
	border-style: none;
	border: 2px solid #cecece;
}
.form p:last-child textarea{
	height: 134px;
	float: right;
	width: 354px;
	border-radius: 3px;
	border-style: none;
	border: 2px solid #cecece;
}
.form p textarea:focus{
	border: 2px solid #fdcb56;
	outline: none;
}
.form input:focus{
	border: 2px solid #fdcb56;
	outline: none;
}
.form select{
	width: 175px;
	height: 30px;
	margin-left: 5px;
	border-radius: 3px;
	border-style: none;
	border: 2px solid #cecece;
	text-align: center;
}
.form select:focus{
	border: 2px solid #fdcb56;
	outline: none;
}
/*footer*/
.footer-bg{
	background: #40c381;
	width: 100%;
}
.footer-container {
	width: 29.4%;
	margin: 0 auto;
}
.footer-container h1 {
	float: left;
	font:14px "Microsoft Yahei";
	font-weight: bold;
	color: white;
	padding: 50px 0;
}
.footer-container img{
	padding: 40px 0;
	float: left;
	margin: 0 2%;
}


/*媒体查询开始*/
@media screen and (min-width: 1920px) {
	div.banner-container{
		margin-top: 10em;
	}
	div.banner-container h3+a{
		margin-top: 150px;
	}
	.index-des-contain> h2+ul{
		width: 51%;
	}
	div.apart{
		width: 32.3%;
	}
}
@media screen and (max-width: 1440px) {
	.banner-container{
		width: 48%;
		margin-top: 1em;
	}
	.banner-container h1{
		font-size: 39px;
	}
	.banner-container h2{
		margin-right: 100px;
	}
	.banner-container h3 strong{
		font-size: 44px;
	}
	.banner-container h3+a{
		margin-top: 30px;
	}
	.index-des-contain ul{
		width: 73%;
		margin: 0 auto;
		margin-bottom: 60px;
	}
	.intro-back li>div img+div.intro-culture{
		width: 36%;
	}
	.intro-back li:nth-child(2)>div>div:first-child{
		width: 42%;
	}
	.intro-back li>div img+div.intro-team{
		width: 42%;
	}
	.apart{
		width: 45.7%;
	}
	.footer-container{
		width: 34.4%;
	}
}