	/*css reset code */

/****  文字大小初始化,使1em=10px *****/
body {
font-size:62.5%;
} /* for IE/Win */
html>body {
font: 14px/28px '微软雅黑' san-serif;
color: #535252;
} /* for everything else */

/*字体边框等初始化*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
 padding: 0px;
 margin: 0px;
 }
table {
 border-collapse: collapse;
 border-spacing: 0;
 }
fieldset,img {
 border: 0;
 }
 img {
 display:block;
 }
address,caption,cite,code,dfn,th,var {
 font-weight: normal;
 font-style: normal;
 }
ol,ul {
 list-style: none;
 }
caption,th {
 text-align: left;
 }
h1{
	font:48px/118px 'Impact';
	color: #393b3d;
	text-align: center;
}
h2,h3,h4,h5,h6 {
 font-weight: normal;
 font-size: 100%;
 }
q:before,q:after {
 content:'';
 }
abbr,acronym { border: 0;
 }

a {
color:  #393b3d;
text-align: center;
text-decoration:none;
}
	.clr{
		clear: both;
	}
	.countainer{
		margin:0 auto;
	}
	.main{
		padding-top: 100px;
	}
	#header{
		height: 768px;
		padding: 20px 0 0 24px;
		background: url(../images/banner.jpg);
	}
	#header img{
		float: left;
	}
	#header a{
		font: 16px/38px '微软雅黑' san-serif;
		float: right;
		color: white;
		text-align: center;
		margin: 18px 33px 0 0;
	}
	#regist a{
		border:1px solid white;
		border-radius: 5px;			
		width: 170px;
		height: 38px;
	}	
	#regist a:hover{
		color: #40c381;
		background: white;
	}
	.log a:hover{
		text-decoration: underline;
	}	
	.arr{
		float:left;
		width: 71px;
		height: 71px;
		padding-top: 694px;
		padding-left: 502px;
	}
	.neck{
		position: fixed;
		z-index: 2;
	}
	.index{
		background: #40c381;
		height: 76px;
		width: 1349px;
		text-align: center;
	}
	.index li{
		float: left;
	}
	.index a{
		font: 16px/38px '微软雅黑' san-serif;
		text-align: center;
		color: white;
		float: right;
		margin: 18px 33px 0 0;				
	}
	.re a{
		border:1px solid white;
		border-radius: 5px;			
		width: 170px;
		height: 38px;

	}
	.re a:hover{
		color: #40c381;
		background: white;		
	}
	.index img{
		float: left;
	}
	.index li a{
		float: left;
		width: 100px;
		height:76px;
		font: 18px/76px '微软雅黑' san-serif;
		margin: 0;		
	}
	.index li a:hover{
		background:url(../images/index_hover.jpg);
	}

	.first h1{
		font: 36px/100px '微软雅黑' san-serif;
		text-align: center;
	}
	.first p{
		font: 18px/36px '微软雅黑' san-serif;
		text-align: center;
	}
	.circles{
		margin-left: 270px;
		height: 210px;
	}
	.circles li{
		display: block;
		width: 118px;
		height: 118px;
		float: left;
		border: 1px solid transparent;
		border-radius: 150px;
		margin: 44px 113px 0 0;
	}
	.circle a{
		float: left;
		width: 118px;
		height: 118px;		
	}
	.circle1 a{
		background: url(../images/circle1.png);
	}
	.circle1 a:hover{
		background: url(../images/circle1_1.png);
	} 
	.circle2 a{
		background: url(../images/circle2.png);
	}
	.circle2 a:hover{
		background: url(../images/circle2_1.png);
	} 		
	.circle3 a{
		background: url(../images/circle3.png);
	}
	.circle3 a:hover{
		background: url(../images/circle3_1.png);
	} 	
	.circle4 a{
		background: url(../images/circle4.png);
	}
	.circle4 a:hover{
		background: url(../images/circle4_1.png);
	}
	.part{
		height: 362px;
	}
	.part1{
		background:#f6f7f9;
	}
	.part1 a{
		color: #c4c1bd;
	}
	.part1 a:hover{
		color: #a39d96;
	}
	.part2{
		background:#efece7;
		padding: 0 0px 0 168px;
	}
	.part2 a{
		color: #81c9ad;
	}
	.part2 a:hover{
		color: #5eaa8c;
	}
	.part3{
		background:#dadcdb;
	}
	.part3 a{
		color: white;
	}
	.part3 a:hover{
		color: #f1f2f2;
	}	
	.second h1{
		width: 486px;
		font:72px/72px 'Impact';
		background: url(../images/yellowbar.jpg) repeat-y;
		margin-top: 42px;
		padding-left: 38px;
		float: left;
	}
	.second p{
		margin-left: 42px;
		width: 412px;
		float:left;
		font: 18px/36px '微软雅黑' san-serif;		
	} 			
	.second img{
		float: left;
		margin: 0 85px 0 168px;
	}
	.part2 img{
		float: right;
		margin: 0 168px 0 104px;
	}
	.third{
		text-align: center;
		padding: 40px 0 40px 0;
	}
	.third a{
		display: block;
		width: 247px;
		height: 68px;
		font: 28px/68px '微软雅黑' san-serif;
		color: white;
		background: url(../images/bottom.png);	
		margin:0 auto;
		margin-bottom: 40px;	
	}
	.third a:hover{
		background: url(../images/bottom_press.png);
	}
	.third img{
		margin: 0 auto;
		margin-bottom: 30px;			
	}
	.footer{
		padding: 20px 0 20px 0;
		background: #40c381;
	}
	.contact{
		margin:0px 0 30px 593px;
	}
	.pic a{
		float: left;
		width: 38px;
		height: 38px;
	}
	.pic1 a{
		background: url(../images/contact1.jpg);
	}
	.pic1 a:hover{
		background: url(../images/contact1_press.jpg);
	}
	.pic2 a{
		background: url(../images/contact2.jpg);
	}
	.pic2 a:hover{
		background: url(../images/contact2_press.jpg);
	}
	.pic3 a{
		background: url(../images/contact3.jpg);
	}
	.pic3 a:hover{
		background: url(../images/contact3_press.jpg);
	}
	.pic4 a{
		background: url(../images/contact4.jpg);
	}
	.pic4 a:hover{
		background: url(../images/contact4_press.jpg);
	}
	.footer p{
		text-align: center;
		color: white;
	}



.talk a{
	float: right;
	text-align: center;
	color: white;
	display: block;
	width: 247px;
	height: 68px;
	font: 28px/68px '微软雅黑' san-serif;
	background: url(../images/bottom.png);	
	margin: 0 173px 40px 0;	
}
.talk a:hover{
	background: url(../images/bottom_press.png);
}