.process{
	width: 1030px;
	height: 561px;
	margin: 10px 0 0 221px;
}
.process li{
	float: left;
	width: 181px;
	height: 253px;
	text-align: center;
}

.proarrow img{
	float: left;
	margin: 68px 20px 0 20px;
}
.pr{
	clear: both;
	margin:0 0 40px 792px;
}
.pro1 .propic a{
	display: block;
	width: 180px;
	height: 180px;
	background: url(../images/Service1.png);
}
.pro1 .propic a:hover{
	background: url(../images/Service1_hover.png);
}
.pro2 .propic a{
	display: block;
	width: 178px;
	height: 178px;
	background: url(../images/Service2.png);
}
.pro2 .propic a:hover{
	background: url(../images/Service2_hover.png);
}
.pro3 .propic a{
	display: block;
	width: 178px;
	height: 178px;
	background: url(../images/Service3.png);
}
.pro3 .propic a:hover{
	background: url(../images/Service3_hover.png);
}
.pro4 .propic a{
	display: block;
	width: 181px;
	height: 180px;
	background: url(../images/Service4.png);
}
.pro4 .propic a:hover{
	background: url(../images/Service4_hover.png);
}
.pro5 .propic a{
	display: block;
	width: 181px;
	height: 180px;
	background: url(../images/Service5.png);
}
.pro5 .propic a:hover{
	background: url(../images/Service5_hover.png);
}
.pro6 .propic a{
	display: block;
	width: 180px;
	height: 180px;
	background: url(../images/Service6.png);
}
.pro6 .propic a:hover{
	background: url(../images/Service6_hover.png);
}
.pro7 .propic a{
	display: block;
	width: 180px;
	height: 180px;
	background: url(../images/Service7.png);
}
.pro7 .propic a:hover{
	background: url(../images/Service7_hover.png);
}
.pro8 .propic a{
	display: block;
	width: 181px;
	height: 180px;
	background: url(../images/Service8.png);
}
.pro8 .propic a:hover{
	background: url(../images/Service8_hover.png);
}
