/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { 
	margin:0; padding:0; 
}
body { 
	background:#fff;
	 color:#555;
	  font-size: 14px;
	  font-family: Verdana, Arial, Helvetica, sans-serif; 
	}
td,th,caption { 
	font-size:14px; 
}
h1, h2, h3, h4, h5, h6 { 
	font-weight:normal; font-size:100%; 
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style:normal; 
	font-weight:normal;
}
a { 
	color:#555; 
	text-decoration:none; 
}
img { 
	border:none; 
}
ol,ul,li { 
	list-style:none; 
}
input, textarea, select, button { 
	font:14px Verdana,Helvetica,Arial,sans-serif; 
}
table {
	border-collapse:collapse; 
}
html {
	overflow-y: scroll;
} 

.clearfix:after {
	content: "."; 
	display: block; 
	height:0; clear:both; 
	visibility: hidden;
}
.clearfix { 
	*zoom:1; 
}


/*homebanner*/
.container{
	width: 100%;
}
.banner-background{
	width: 100%;
	background: #40c381;
	/*padding: 20px 0px 0 0px;*/
}
.banner-markleft {
	height: 62px;
	width: 34px;
	position: absolute;
	top: 268px;
	left:  24px;
}
.banner-markright {
	height: 62px;
	width: 34px;
	position: absolute;
	top: 268px;
	right: 33px;
}
.banner-container {
	width: 655px;
	margin: 0 auto;
	padding-top: 140px;
}
.banner-container h1{
	color: white;
	font-family: "Microsoft Yahei";
	font-size: 60px;
	display: block;
	position: relative;
	float: left;
	left: 100px;
}
.banner-container h2 {
	color: white;
	font-family: "Impact", "Microsoft Yahei";
	font-size: 36px;
	display: block;
	float: right;
	position: relative;
	right: 58px;
}
.banner-container h3 {
	color: white;
	font-family: "Impact", "Microsoft Yahei";
	font-size: 30px;
	display: block;
	clear: both;
	float: left;
	position: relative;
	top: -10px;
	left: 238px;
}
.banner-container h4{
	color: white;
	font-family: "Microsoft Yahei";
	font-size: 72px;
	display: block;
	position: relative;
	float: right;
	right: 100px;
	top:-37px;
}
.banner-container a{
	display: block;
	width: 18px;
	height: 20px;
	clear: both;
	margin: 0 auto;
	margin-top: 30px;
}





/*导航栏*/
.index {
	height: 76px;
	width: 100%;
	background: #40c381;
	position: fixed;
	top: 0px;
	z-index: 2;
	overflow: hidden;
	/*display: none;*/
}
.index>a{
	float: left;
	margin: 20px 45px 0 20px;
	display: block;
	width: 185px;
	height: 42px;
	background: url(../images/it-ico.png) no-repeat;
}
.index li a{
	float: left;
	font: 16px/38px 'Microsoft Yahei' san-serif;
	line-height: 76px;
	width: 100px;
	text-align: center;
	color: white;	

}
.index li a:hover{
	height: 76px;
	width: 100px;
	text-decoration: none;
	background:url(../images/index_hover.jpg);
}
.index-register a 	{
	border:2px solid white;
	border-radius: 5px;			
	width: 180px;
	height: 36px;
	line-height: 38px;
	text-align: center;
	font-family: "Microsoft Yahei";
	font-size: 18px;
	color: white;
	float: right;
	margin-top: 18px;
	margin-right: 33px;
}
.index-register a:hover {
	color: #40c381;
	background: white;
	text-decoration: none;
}






.introduction-container {
	margin: 0 auto;
	width: 1025px;
}
.itwork-ico{
	display: block;
	width: 177px;
	height: 42px;
	position: relative;
	top: 45px;
	margin: 0 auto;
}
.since-container {
	margin: 0 auto;
	width: 622px;
}
.since-line {
	float: left;
	position: relative;
	top: 74px;
	background: #f4bc39;
	height: 1px;
	width: 238px;
}
.since-container h1{
	display: block;
	padding: 0 15px;
	padding-top: 63px;
	float: left;
	font-family: "Microsoft Yahei";
	font-size: 14px;
	color:  #f4bc39;
}
.since-container h2 {
	display: block;
	width: 448px;
	color: #f4bc39;
	clear: both;
	margin: 0 auto;
	font-family: "Microsoft Yahei";
	font-size: 24px;
	letter-spacing: 2px;
	padding: 4px 0 22px;
}
.introduction-container p {
	font-family: "Microsoft Yahei";
	font-size: 18px;
	color: #484747;
	font-weight: bold;
	line-height:  33px;
	text-indent: 41px;
}
.since-container h5 {
	display: block;
	padding: 50px 13px 0 13px;
	font-family: "Microsoft Yahei";
	font-weight: bold;
	font-size: 30px;
	color: #f4bc39;
	float: left;
}
.circles{
	clear: left;
	margin: 0 auto;
}
.circles li{
	display: block;
	width: 118px;
	height: 118px;
	float: left;
	border: 1px solid transparent;
	border-radius: 150px;
	margin: 48px 0 0 107px;
}
.circle a{
	float: left;
	width: 118px;
	height: 118px;		
}
.circle1 a{
	background: url(../images/circle1.png);
}
.circle1 a:hover{
	background: url(../images/circle1_1.png);
} 
.circle2 a{
	background: url(../images/circle2.png);
}
.circle2 a:hover{
	background: url(../images/circle2_1.png);
} 		
.circle3 a{
	background: url(../images/circle3.png);
}
.circle3 a:hover{
	background: url(../images/circle3_1.png);
} 	
.circle4 a{
	background: url(../images/circle4.png);
}
.circle4 a:hover{
	background: url(../images/circle4_1.png);
}

/*团队文化*/
.culture-bg{
	margin-top: 44px;
	background: #f6f7f9;
	height: 362px;
	float: left;
	width: 100%;
}
.culture-container {
	margin: 0 auto;
	width: 1025px;
}
.culture-container img {
	float: left;
	margin-right: 90px;
}
.y-line {
	margin-top: 73px;
	width: 19px;
	height: 68px;
	background: #f4bc39;
	float: left;
}
.culture-container a {
	margin:  56px 112px 10px 0;
	color: #c4c1bd;
	font-family: "Microsoft Yahei";
	font-size: 72px;
	font-weight: bold;
	float: right;
}
.culture-container a:hover {
	color: #a39d96;
	text-decoration: none;
}
.culture-container p{
	margin-left: 33px;
	line-height: 32px;
	clear: right;
	color: #938f89;
	font-family: "Microsoft Yahei";
	font-size: 18px;
}

/*新奇的想法*/
.idea-bg{
	background: #efece7;
	height: 362px;
	float: left;
	width: 100%;
}
.idea-container {
	margin: 0 auto;
	width: 1025px;
}
.idea-container img {
	float: right;
	display: block;
	position: relative;
	left: 38px;
}
.idea-container .y-line{
	background: #fdcb56;
}
.idea-container a {
	margin:  56px 0 10px 16px;
	color: #81c9ad;
	font-family: "Microsoft Yahei";
	font-size: 72px;
	font-weight: bold;
	float: left;
}
.idea-container a:hover {
	color: #5eaa8c;
	text-decoration: none;
}
.idea-container p{
	width: 500px;
	clear: left;
	margin-left: 33px;
	line-height: 32px;
	color: #938f89;
	font-family: "Microsoft Yahei";
	font-size: 18px;
}

/*优秀的团队*/
.outstanding-bg{
	background: #dadcdb;
	height: 362px;
	float: left;
	width: 100%;
}
.outstanding-container {
	margin: 0 auto;
	width: 1025px;
}
.outstanding-container img {
	float: left;
	margin-right: 200px;
}
.outstanding-container .y-line {
	background: #fdcb56;
}
.outstanding-container a {
	margin:  56px 38px 10px 0;
	color: white;
	font-family: "Microsoft Yahei";
	font-size: 72px;
	font-weight: bold;
	float: right;
}
.outstanding-container a:hover {
	color: #f1f2f2;
	text-decoration: none;
}
.outstanding-container p{
	margin-left: 33px;
	line-height: 32px;
	clear: right;
	color: #938f89;
	font-family: "Microsoft Yahei";
	font-size: 18px;
}

/*美术设计、系统维护*/
.itpartment1-bg{
	margin-top: 42px;
	float: left;
	background: #f6f7f9;
	width: 100%;
}
.itpartment2-bg{
	float: left;
	background: #efece7;
	width: 100%;
}
.itpartment3-bg{
	float: left;
	background: #dadcdb;
	width: 100%;
}
.itpartment-container {
	margin: 0 auto;
	width: 1025px;
	height: 362px;
}
.itpartment-container img {
	margin: 48px 108px 52px  0;
	display: block;
	width: 371px;
	height: 261px;
	float: left;
}
.itpartment-container .y-line {
	margin-top: 57px;
	width: 19px;
	height: 58px;
	background: #fdcb56;
	float: left;
}
.itpartment-container a {
	margin:  52px 316px 26px 0;
	color: #787878;
	font-family: "Microsoft Yahei";
	font-size: 48px;
	font-weight: bold;
	float: right;
}
.itpartment-container a:hover{
	color: #fdcb56;
}
.itpartment-container p{
	margin-left: 498px;
	line-height:25px;
	clear: right;
	color: #575859;
	font-family: "Microsoft Yahei";
	font-size: 14px;
	text-indent: 36px;
}
/*程序开发*/

/*我要参加*/
.enroll-container {
	height: 523px;
	margin: 0 auto;
	width: 936px;
	clear: left;
	padding: 41px 0;
}
.enroll {
	margin: 0 auto;
	margin-bottom: 32px;
}
.enroll a{
	font-weight: bold;
	display: block;
  	width: 247px;
  	height: 68px;
  	font: 28px/62px 'Microsoft YaHei',sans-serif;
  	color: white;
  	background: url(../images/bottom.png) no-repeat;
 	margin: 0 auto;
 	text-align: center;
}
.enroll a:hover{
	background: url(../images/bottom_press.png);
}
.picture {
	float: left;
	margin-right: 88px;
}
.picture img {
	margin-bottom: 27px;
}
.picture p {
	font: 14px/24px "Microsoft YaHei",sans-serif;
	color: #434040;
}
.picture p span {
	display: block;
	padding-left: 41px;
}
.picture h1 {
	font-family: "Microsoft Yahei";
	float: left;
	color: #434040;
}
/*.form {
	float: left;
}
.form span {
	color: #fb0101;
	font-family: "Microsoft Yahei";
	font-size: 14px;
}
.form input {
	float: left;
	width: 350px;
	height: 28px;
	color: #b8b8b8;
}
.input-big input {
	width: 350px;
	height: 132px;
}*/
.form{
	float: left;
}
.form span{
	color: red;
}
.form p{
	font: 14px "Microsoft YaHei",sans-serif;
	color: #434040;
	margin-top: 40px;
}
.form p:last-child{
	margin-top: 26px;
}
.form input{
	/*margin-left: 30px;*/
	float: right;
	width: 354px;
	height: 30px;
	border-radius: 3px;
	border-style: none;
	border: 2px solid #cecece;
}
.form p:last-child input{
	height: 134px;
}
.form input:focus{
	border: 2px solid #fdcb56;
	outline: none;
}
.form select{
	width: 175px;
	height: 30px;
	margin-left: 5px;
	border-radius: 3px;
	border-style: none;
	border: 2px solid #cecece;
	text-align: center;
}
.form select:focus{
	border: 2px solid #fdcb56;
	outline: none;
}
/*footer*/
.footer-bg{
	background: #40c381;
	width: 100%;
}
.footer-container {
	width: 470px;
	margin: 0 auto;
}
.footer-container h1 {
	float: left;
	font:14px "Microsoft Yahei";
	font-weight: bold;
	color: white;
	padding: 50px 0;
}
/*.footer-container h1:first-child{
	margin-left: 35%;
}*/
.footer-container img{
	padding: 40px 0;
	float: left;
	margin: 0 2%;
}