.banner-container{
	width: 48%;
	margin-top: 1em;
}
.banner-container h1{
	font-size: 39px;
}
.banner-container h2{
	margin-right: 100px;
}
.banner-container h3 strong{
	font-size: 44px;
}
.banner-container h3+a{
	margin-top: 30px;
}
.index-des-contain ul{
	width: 73%;
	margin: 0 auto;
	margin-bottom: 60px;
}
.intro-back li>div img+div.intro-culture{
	width: 36%;
}
.intro-back li:nth-child(2)>div>div:first-child{
	width: 42%;
}
.intro-back li>div img+div.intro-team{
	width: 42%;
}
.apart{
	width: 45.7%;
}
.footer-container{
	width: 34.4%;
}