.index_works{
	margin: 10px 0 10px 183px;
}
.index_works li{
	display: block;
	float: left;
	width: 200px;
	height: 50px;	
}
.index_works img{
	float: left;
	margin: 12px 10px 0 40px;
}
.index_works a{
	width: 200px;
	height: 50px;		
	float: left;
	font: 16px/50px '微软雅黑' san-serif;
}
.index_works a:hover{
	color: black;
	background: url(../images/All_hover.jpg);
}
.display_works{
	margin: 30px 0 0px 155px;
}
.display_works li{
	float: left;
	width: 339px;
	margin: 28px 20px 0 0;
	text-align: center;
}
.display_works .display_pic a{
	display: block;
	width: 339px;
	height: 191px;
	margin-bottom: 10px;	
}
.display_works .display_word a:hover{
	color: black;
	text-decoration: underline;
}
.display1 .display_pic a{
	background: url(../images/display1.jpg);	
}
.display1 .display_pic a:hover{
	background: url(../images/display1_hover.jpg);
}

.display2 .display_pic a{
	background: url(../images/display2.jpg);	
}
.display2 .display_pic a:hover{
	background: url(../images/display2_hover.jpg);
}

.display3 .display_pic a{
	background: url(../images/display3.jpg);	
}
.display3 .display_pic a:hover{
	background: url(../images/display3_hover.jpg);
}

.display4 .display_pic a{
	background: url(../images/display4.jpg);	
}
.display4 .display_pic a:hover{
	background: url(../images/display4_hover.jpg);
}

.display5 .display_pic a{
	background: url(../images/display5.jpg);	
}
.display5 .display_pic a:hover{
	background: url(../images/display5_hover.jpg);
}

.display6 .display_pic a{
	background: url(../images/display6.jpg);	
}
.display6 .display_pic a:hover{
	background: url(../images/display6_hover.jpg);
}

.display7 .display_pic a{
	background: url(../images/display7.jpg);	
}
.display7 .display_pic a:hover{
	background: url(../images/display7_hover.jpg);
}

.display8 .display_pic a{
	background: url(../images/display8.jpg);	
}
.display8 .display_pic a:hover{
	background: url(../images/display8_hover.jpg);
}

.display9 .display_pic a{
	background: url(../images/display9.jpg);	
}
.display9 .display_pic a:hover{
	background: url(../images/display9_hover.jpg);
}
.page{
	margin-left: 520px;
}
.page li{
	float: left;
	display: block;
	width: 27px;
	height: 30px;
	margin: 50px 10px 30px 0;
	text-align: center;
}
.page li a{
	display: block;
	width: 27px;
	height: 30px;
}
.pa1 a{
	background: url(../images/page_arrow_l.png);
}
.pa1 a:hover{
	background: url(../images/page_arrow_l_hover.png);
}
.pa a:hover{
	color: white;
	background: url(../images/page.png);
}
.pa9 a{
	background: url(../images/page_arrow_r.png);	
}
.pa9 a:hover{
	background: url(../images/page_arrow_r_hover.png);
}