.opback{
	height: 1320px;
	background: url(../images/Open_back.jpg);
	padding-left: 111px;
}
.X a{
	display: block;
	width: 52px;
	height:58px;
	background: url(../images/X.png);
	margin: 0 0 0 1029px;
	position: relative;
	top: 30px;
}
.X a:hover{
	background: url(../images/X_hover.png);
}
.arrp a{
	margin-top: 259px;
}
.arrl a{
	float: left;
	display: block;
	width: 33px;
	height: 61px;
	background: url(../images/arrl.png);
}
.arrl a:hover{
	background: url(../images/arrl_hover.png);
}
img{
	float: left;
	margin: 0px 50px 0 50px ;
}
.arrr a{
	float: left;
	display: block;
	width: 33px;
	height: 61px;
	background: url(../images/arrr.png);
}
.arrr a:hover{
	background: url(../images/arrr_hover.png);
}
p{
	width: 973px;
	color: white;
	margin: 0px 0px 0 82px ;
}