
.name{
	margin: 0px 0 0px 171px;
	text-align: center;
}
.name li{
	width: 198px;
	float: left;
	margin: 0 76px 80px 0; 
}
.head a{
	width: 198px;
	height: 256px;
	float: left;
	margin-bottom: 20px;
}
.head1 a{
	background: url(../images/designer1.jpg);
}
.head1 a:hover{
	background: url(../images/designer1_hover.jpg);
}
h2 a{
	font: 18px/32px '微软雅黑' san-serif;
}
h2 a:hover{
	font:bold 18px/32px '微软雅黑' san-serif;
	color: gray;
}
.head2 a{
	background: url(../images/designer2.jpg);
}
.head2 a:hover{
	background: url(../images/designer2_hover.jpg);
}
.head3 a{
	background: url(../images/designer3.jpg);
}
.head3 a:hover{
	background: url(../images/designer3_hover.jpg);
}
.head4 a{
	background: url(../images/designer4.jpg);
}
.head4 a:hover{
	background: url(../images/designer4_hover.jpg);
}
.main img{
	margin: 0 auto;
}
.details{
	padding: 80px 0 0 272px;

}
.details p{
	width: 821px;
}
.words .p{
	color: #40c381;
	float: left;
	font: 72px/90px '微软雅黑' san-serif;
	width: 90px;
}
.words .word{
	float: left;
	font: italic  18px/32px '微软雅黑' san-serif;
	width: 743px;
	color: black;
	margin: 24px 0 24px 0;
}
